
 @import url('http://fonts.cdnfonts.com/css/arcade-classic');

                
.title-body{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
    font-family: 'ArcadeClassic', sans-serif;
    margin-top: -20px;
}

h1 {
    width: 300px;
	font-size: 40px;
	font-weight: 250;
	background-color: orange;
	color: beige;
	display: block;
	padding: .3em;
    border-radius: 19%;
}

h1:nth-child(2) {
	position: absolute;
	background-color: beige;
	color: orange;
	clip-path: inset(-1% -1% 50% -1%); 
}




.shown {
    background-color: whitesmoke;
}

.marked {
    background-color: rgb(240, 179, 11);
}

.one {
    color: rgb(2, 73, 55);
}

.two {
    color: rgb(221, 245, 3);
}

.three {
    color: rgb(190, 21, 16);
}

.four {
    color: rgb(17, 32, 167);
}

.five {
    color: rgb(37, 156, 7);
}

.seven {
    color: rgb(99, 4, 4);
}

.eigth {
    color: rgb(8, 32, 2);
}

